* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page1 {
  max-width: 1400px;
}

header {
  display: flex;
  justify-content: space-between;
}

header .left_logo {
  font-size: 20px;
  margin-left: 70px;
}

header .right_logo {
  margin-right: 50px;
  width: 40px;
  height: 30px;
  margin-top: 40px;
}

.container1 {
  display: flex;
}

.container1 .page1_text {
  width: 40%;
}

.container1 .page1_text h3 {
  font-size: 45px;
  font-family: sans-serif;
  margin-left: 70px;
}

.container1 .page1_text h2 {
  margin-left: 70px;
  font-size: 30px;
  font-family: sans-serif;
  color: #3f3f3f;
  margin-top: 10px;
}

.container1 .page1_text p {
  width: 320px;
  margin-left: 70px;
  border-left: 1px solid #1c1c1c;
  font-size: 20px;
  margin-top: 10px;
  padding-left: 20px;
}

.container1 .page1_text button {
  margin-top: 30px;
  margin-left: 70px;
  height: 45px;
  width: 200px;
  font-size: 15px;
  color: white;
  background-color: #31404d;
  outline: none;
  border: 0;
  font-weight: bolder;
  cursor: pointer;
}

.container1 .page1_text button:hover {
  background-color: white;
  color: #31404d;
  border: 1px solid #31404d;
}

.container1 .page1_img {
  width: 500px;
}

.bottom_text {
  display: flex;
  margin-top: 20px;
}

.bottom_text_item {
  width: 250px;
  margin-left: 70px;
}

.bottom_text_item h3 {
  font-size: 22px;
  border-top: 1px solid #1c1c1c;
  padding-top: 10px;
  margin-right: 100px;
}

.page2 {
  max-width: 1400px;
}

.page2 h1 {
  text-align: center;
  font-family: monospace;
  font-size: 100px;
  color: #31404d;
  height: 120px;
  margin-top: 10px;
}

.container2 {
  display: flex;
}

.container2 .page2_text {
  width: 500px;
  margin-left: 70px;
}

.container2 .page2_text h2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.container2 .page2_text p {
  width: 400px;
  margin-top: 10px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.container2 .page2_img {
  margin-left: 100px;
  padding-bottom: 50px;
}

.page2_bottom {
  font-size: 50px;
  text-align: center;
}

.page2_bottom_img {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 50px;
}

.page2_bottom_img_item h5 {
  font-size: 17px;
}

.page2_bottom_img_item p {
  font-size: 13px;
}

.page3 {
  max-width: 1400px;
}

.page3 h2 {
  text-align: center;
  font-size: 70px;
  margin-top: 30px;
}

.container3 {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 50px;
}

.container3_item h4 {
  font-size: 30px;
}

.container3_item h5 {
  font-size: 20px;
  text-align: center;
}

.container3_item p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.container3_item1 {
  margin-top: 30px;
}

.container3_item1 h5 {
  font-size: 20px;
  text-align: center;
}

.container3_item1 p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.page3_button {
  margin-top: 30px;
  margin-left: 600px;
  height: 50px;
  width: 250px;
  font-size: 20px;
  color: white;
  background-color: #31404d;
  outline: none;
  border: 0;
  border-radius: 15px;
  font-weight: bolder;
  cursor: pointer;
}

.page3_button:hover {
  background-color: white;
  color: #31404d;
  border: 1px solid #31404d;
}

.page4 {
  max-width: 1400px;
  margin-bottom: 70px;
}

.page4 h2 {
  text-align: center;
  font-size: 75px;
  color: #3f3f3f;
  margin-top: 30px;
  margin-bottom: 30px;
}

.page4 .container4 {
  display: flex;
  margin-left: 70px;
  margin-right: 50px;
  justify-content: space-around;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(page4_back.jpg);
}

.page4 .container4_left {
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 50px;
  width: 500px;
  color: antiquewhite;
}

.page4 .container4_left h3 {
  font-size: 50px;
}

.page4 .container4_left p {
  font-size: 25px;
  margin-top: 10px;
  color: whitesmoke;
}

.page4 .container4_right {
  width: 500px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.page4 .container4_right .form {
  display: flex;
  justify-content: space-between;
}

.page4 .container4_right .form_item {
  font-size: larger;
  border-radius: 10px;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  margin-right: 70px;
}

.page4 .container4_right .form_item1 {
  font-size: x-large;
  padding: 20px 10px 100px;
  width: 470px;
  border-radius: 10px;
  margin-top: 10px;
}

.page4 button {
  margin-top: 30px;
  height: 35px;
  width: 200px;
  font-size: 20px;
  color: white;
  background-color: #40515f;
  outline: none;
  border: 0;
  border-radius: 15px;
  font-weight: bolder;
  cursor: pointer;
}

.page4 button:hover {
  background-color: white;
  color: #40515f;
  border: 1px solid #31404d;
}

.footer {
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
}

.footer_left h3 {
  font-size: 40px;
  margin-bottom: 15px;
}

.footer_left a {
  display: flex;
}

.footer_left a p {
  margin-left: 10px;
}

.footer_left .footer_img {
  width: 270px;
  justify-content: space-between;
  margin-top: 20px;
}

.footer_right h3 {
  font-size: 40px;
  margin-bottom: 15px;
}

.footer_right a {
  display: flex;
}

.message {
  width: 30px;
  margin-top: 5px;
}
